body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px; 
    background-image: url('https://images.unsplash.com/photo-1590005194861-af70fa800956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-color:#f5f1f100;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;    

}

.container {
    text-align: center;
    padding: 20px;
    height:100vh;
}

.page-title {
    color: #000000;
    margin: 0 0 5px;

}

.page-subtitle {
    color:#000000;
    margin-top: 5px;

}




